@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

// FONTS
$primary: 'Poppins', sans-serif;

// FONT WEIGHT
$fw_thin: 100;
$fw_extra-light: 200;
$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_semi-bold: 600;
$fw_bold: 700;
$fw_extra-bold: 800;
$fw_black: 900;

body {
	-webkit-font-smoothing: antialiased;
	font-size: 1.125rem;
	font-family: $primary;
}

@include all-titles {
	position: relative;
	margin-top: 0;
	font-weight: $fw-semi-bold;
	margin-bottom: 10px;
	letter-spacing: 1.5px;
	line-height: 1;
}

h1 {
	font-size: 4.375rem;
	line-height: 1;

	@include media($tablet) {
		font-size: 3.25rem;
	}
}

h2 {
	font-size: 3.75rem;

	@include media($tablet) {
		font-size: 3rem;
	}
}

h3 {
	font-size: 2.5rem;
	color: $logo_purple;

	@include media($tablet) {
		font-size: 2rem;
	}
}

h4 {
	font-size: 1.875rem;

	@include media($tablet) {
		font-size: 1.5rem;
	}
}

h5 {
	font-size: 1.625rem;
	text-transform: uppercase;
	letter-spacing: 2px;

	@include media($tablet) {
		font-size: 1.25rem;
	}
}

h6 {
	font-size: 1.125rem;
	margin-bottom: 0;
	letter-spacing: 1.5px;
	color: $logo_gray;
}

p {
	font-size: 1rem;
	letter-spacing: 1.5px;
	line-height: 2;
	font-weight: $fw_light;

	@include media($tablet) {
		font-size: 1rem;
	}
}

a {
	text-decoration: none;

	&:visited {
		text-decoration: none;
	}
}

.uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}