* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: white;
	color: $logo_gray;
}

section {
	position: relative;

	&.purple_overlay {
		z-index: 1;

		figure {
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: $logo_purple;
				opacity: .6;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&.gray_overlay {
		z-index: 1;

		figure {
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: #373737;
				opacity: .85;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&.blue_overlay {
		z-index: 1;


		figure {
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: rgba(12, 52, 101, .8);
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

}

a {
	color: $logo_purple;
	font-weight: 500;
	transition: .2s;

	&:hover {
		color: $light_purple;
	}
}

img {
	max-width: 100%;
}

.background {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	margin: 0;
	margin-left: -50%;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

.main {
	overflow: hidden;
}

.home {
	.content-container {
		max-width: $fw-content-max;
	}
}

.breadcrumb-nav {
	margin-bottom: 75px;
	font-size: 1.25rem;
	text-transform: uppercase;
	color: $logo_purple;
	letter-spacing: 1.5px;

	@include media($tablet) {
		font-size: 1rem;
		margin-bottom: 35px;
	}

	@include media($mobile-large) {
		font-size: .875rem;
	}

	ul {
		display: flex;
		flex-wrap: wrap;

		li {
			position: relative;

			&:not(:last-child) {
				margin-right: 70px;

				@include media($tablet) {
					margin-right: 30px;
				}

				@include media($mobile-large) {
					margin-right: 15px;
				}

				&:after {
					content: '>';
					@include size(22px);
					@include position(absolute, null -55px null null);

					@include media($tablet) {
						right: -30px;
					}

					@include media($mobile-large) {
						right: -25px;
						font-weight: 700;
					}
				}
			}

			a {
				color: inherit;
			}
		}
	}
}

.categories-sidebar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-bottom: 2px solid $blue_green;
	padding-bottom: 18px;

	@include media($tablet-landscape) {
		margin-bottom: 35px;
		order: 1;
		flex-direction: row;
	}

	h5 {
		font-size: 1.5rem;
		color: $logo_purple;
		display: block;
		width: 100%;
	}

	.filter-opt {
		color: $logo_gray;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 2;
		transition: .2s;

		&:hover {
			color: $blue_green;
		}

		@include media($tablet-landscape) {
			flex: 0 0 calc(100% / 3)
		}

		@include media($tablet) {
			flex: 0 0 calc(100% / 2);
			font-size: 1rem;
		}

		@include media($mobile-large) {
			flex: 100%;
		}
	}

	.active {
		color: $blue_green;
		font-weight: 600;
	}
}

.nav-break {
	display: none;
	@include media ($nav-break) {
		display: block;
	}
}



