$neat-grid: (columns: 12, gutter: 30px);
$form-grid: (gutter: 10px);

.content-container {
  margin: 0 auto;
  width: 90%;
  max-width: $fw-content-max;
  @include grid-container;

  &.has-cols {
    width: calc(90% + (#{map-get($neat-grid, gutter)} * 2));
    max-width: calc(#{$fw-content-max} + (#{map-get($neat-grid, gutter)} * 2));

    @include media($tablet) {
      width: 90%;
      max-width: 90%;
    }
  }

  &.max-1250 {
    max-width: 1250px;
  }

  &.max-1000 {
    max-width: 1000px;
  }

  &.max-800 {
    max-width: 800px;
  }

  &.flex-row {
    &:after {
      display: none;
    }
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.row {
  @include grid-container;
}

.form-row {
  @include grid-container;

  @include media($above-tablet) {
    @include grid-collapse($form-grid);
  }
}

.grid-collapse {
  @include media($above-tablet) {
    @include grid-collapse;
  }
}

.align-content-right {
  justify-content: flex-end;
}

.align-content-centered {
  justify-content: center;
}

@for $i from 1 through 12 {
  .col-#{$i}-centered {
    width: calc((100% / 12) * #{$i});
    margin: 0 auto;

    @include media($tablet-landscape) {
      width: 100%;
    }
  }
}

@for $i from 1 through 12 {
  $ratio: 100 / 12 * $i;
  $ratio_percent: 100% / 12 * $i;
  $gutter: map-get($neat-grid, gutter) * (($ratio / 100) + 1);

  .flex-col-#{$i} {
    margin-left: 30px;
    padding: 0 25px;
    min-height: 1px;
    flex: 1 0 calc((#{$ratio_percent} - #{$gutter}));
    max-width: calc(#{$ratio_percent} - #{$gutter});

    @include media($tablet-landscape) {
      flex: 1 0 100%;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 25px;
    }
  }
  .flex-col-d-#{$i} {
    margin-left: 30px;

    @include media($desktop) {
      flex: 1 0 calc((#{$ratio_percent} - #{$gutter}));
      max-width: calc(#{$ratio_percent} - #{$gutter});
    }
  }
  .flex-col-tl-#{$i} {
    margin-left: 30px;

    @include media($tablet-landscape) {
      flex: 1 0 calc((#{$ratio_percent} - #{$gutter}));
      max-width: calc(#{$ratio_percent} - #{$gutter});
    }
  }
  .flex-col-t-#{$i} {
    margin-left: 30px;

    @include media($tablet) {
      flex: 1 0 calc((#{$ratio_percent} - #{$gutter}));
      max-width: calc(#{$ratio_percent} - #{$gutter});
    }
  }
  .flex-col-ml-#{$i} {
    margin-left: 30px;

    @include media($mobile-large) {
      flex: 1 0 calc((#{$ratio_percent} - #{$gutter}));
      max-width: calc(#{$ratio_percent} - #{$gutter});
    }
  }
  .flex-col-m-#{$i} {
    margin-left: 30px;

    @include media($mobile) {
      flex: 1 0 calc((#{$ratio_percent} - #{$gutter}));
      max-width: calc(#{$ratio_percent} - #{$gutter});
    }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    min-height: 1px;
    @include grid-column($i);

    @include media($tablet-landscape) {
      float: none;
      width: 100%;
      margin-left: 0;

      //&:not(:last-child) {
      //  margin-bottom: 25px;
      //}
    }
  }
  .col-d-#{$i} {
    @include media($desktop-large-max) {
      @include grid-column($i);
    }
  }
  .col-dl-#{$i} {
    @include media($desktop-large) {
      @include grid-column($i);
    }
  }
  .col-tl-#{$i} {
    @include media($tablet-landscape) {
      @include grid-column($i);
    }
  }
  .col-t-#{$i} {
    @include media($tablet) {
      @include grid-column($i);
    }
  }
  .col-m-#{$i} {
    @include media($mobile) {
      @include grid-column($i);
    }
  }
}

@for $i from 1 through 12 {
  .fw-flex-col-#{$i} {
    min-height: 1px;
    flex: 1 0 calc((100% / 12) * #{$i});
  }

  .fw-flex-col-d-#{$i} {

    @include media($desktop) {
      flex: 1 0 calc((100% / 12) * #{$i});
    }
  }
  .fw-flex-col-tl-#{$i} {

    @include media($tablet-landscape) {
      flex: 1 0 calc((100% / 12) * #{$i});
    }
  }
  .fw-flex-col-t-#{$i} {

    @include media($tablet) {
      flex: 1 0 calc((100% / 12) * #{$i});
    }
  }
  .fw-flex-col-m-#{$i} {

    @include media($mobile) {
      flex: 1 0 calc((100% / 12) * #{$i});
    }
  }
}

@for $i from 1 through 12 {
  .form-col-#{$i} {
    min-height: 1px;
    @include grid-column($i, $form-grid);

    @include media($tablet-landscape) {
      float: none;
      width: 100%;
      margin: 0;
    }
  }
}

@for $i from 1 through 12 {
  .col-offset-#{$i} {
    margin-left: calc((100% / 12) * #{$i});

    @include media($tablet-landscape) {
      margin-left: 0;
    }
  }
}