@mixin media($breakpoint) {

  @media #{$breakpoint} {
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin scrollbar {

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: white;
  }
  &::-webkit-scrollbar-track-piece {
    background: linear-gradient(to right, #fff, #fff 40%, white 50%, #fff 60%);
  }
}

@mixin all-titles {
  h1, h2, h3, h4, h5, h6 {
    @content
  }
}

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin grid-container($grid: $neat-grid) {
  @if $grid != $neat-grid {
    @warn "`grid-container` does not use grid propertes.
      Custom grids do not need to be passed in to this mixin.";
  }

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}