/** Box Model  */
$spacer: 2rem;

/** Break Points **/
$mobile: (max-width:480px);
$mobile-large: (max-width: 600px);
$tablet: (max-width:900px);
$tablet-landscape: (max-width:1026px);
$above-tablet: (min-width:1026px);
$desktop: (min-width:900px);
$desktop-large: (min-width:1300px);
$desktop-large-max: (max-width:1300px);
$above-desktop-large: (min-width: 1640px);

//Custom Break Points
$nav-break-one: (max-width: 1495px);
$nav-break-two: (max-width: 1315px);
$nav-break: (max-width: 1190px);
$above-nav-break: (min-width: 1116px);
$staff-break-one: (max-width: 1355px);
$staff-break-two: (max-width: 1265px);
$staff-break-three: (max-width: 1155px);
$product-hero-break-large: (max-width: 1325px);
$product-hero-break-med: (max-width: 1075px);

//$nav-break: (max-width:1200px);
$fw-content-max: 1275px;

/** Colors */
$logo_purple: #3c296d;
$logo_gray: #6b6b6b;

$dark_blue: #0c3465;
$light_gray: #e6e7e8;
$gray: #cccccc;
$light_purple: #68649d;
$light_blue: #4266b0;
$blue_green: #278e73;
$burnt_orange: #b45024;

$error: #b45024;

$black: #000;
$white: #ffffff;
