.shop-wrap {
  padding: 110px 0;

  .woocommerce-products-header {
    margin-bottom: 150px;

    h1 {
      @extend h2;
      color: $logo_purple;
      text-transform: uppercase;
      text-align: center;
    }
  }

  ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li.product {
      float: unset;
      margin: 0 10px;

      @include media($tablet-landscape) {
        flex: 0 0 calc((100% / 2) - 50px);
        margin-bottom: 35px;
      }

      @include media($mobile-large) {
        flex: 100%;
      }

      a {
        display: inline-block;
      }

      img {
        height: 281px !important;
        width: auto !important;
      }

      .price {
        color: $logo_gray;
        font-size: 1.125rem;
        transition: .2s;

        &:hover {
          color: $logo_purple;
        }
      }

      .ajax_add_to_cart {
        display: none !important;
      }
    }
  }

  .woocommerce-loop-product__title {
    color: $logo_purple;
    text-transform: uppercase;
    padding-bottom: 35px !important;
  }

  .add_to_cart_button {
    display: none;
  }
}

