.cart-wrap {
  padding: 55px 0;

  form {

    table {
      thead {
        th {
          font-weight: $fw_semi-bold !important;
          color: $blue_green;
          letter-spacing: 1.5px;
        }
      }

      tbody {
        .product-remove a {
          color: $burnt_orange !important;

          &:hover {
            background: $burnt_orange;
          }
        }

        .product-name a {
          color: $logo_purple;
        }

        td.actions {
          input {
            width: 150px !important;
            padding: 10px 5px 10px !important;
            font-size: 1.125rem !important;
          }

          .button {
            padding: 11px 45px;
            background-color: $white;
            border: 1px solid $blue_green;
            border-radius: unset;
            font-weight: $fw_semi-bold;
            color: $blue_green;

            &:hover {
              background-color: $blue_green;
              color: $white;
            }
          }
        }
      }
    }
  }

  div.cart-collaterals {
    .cart_totals {
      h2 {
        @extend h2;
        color: $logo_purple !important;
        text-transform: uppercase;
      }

      table {
        tbody {
          th {
            font-weight: $fw_semi-bold !important;
            color: $blue_green;
            letter-spacing: 1.5px;
          }
        }

        form.woocommerce-shipping-calculator a {
          color: $light_blue;
        }
      }

      div.wc-proceed-to-checkout {
        a {
          background-color: $white;
          border: 2px solid $blue_green;
          font-weight: $fw_semi-bold;
          color: $blue_green;

          &:hover {
            background-color: $blue_green;
            color: $white;
          }
        }
      }
    }
  }
}

.cart-empty {
  margin: 55px 0;
}

.return-to-shop {
  padding-bottom: 55px;

  a.button {
    padding: 11px 45px;
    background-color: $white;
    border: 1px solid $blue_green;
    border-radius: unset;
    font-weight: $fw_semi-bold;
    color: $blue_green;

    &:hover {
      background-color: $blue_green;
      color: $white;
    }
  }

}