.checkout-wrap {
  padding: 55px 0;

  form {
    .required {
      color: $burnt_orange !important;
    }

    .select2-selection {
      border-radius: unset;
      padding: 5px;
      height: auto;
      margin: 10px 0;

      .select2-selection__arrow b {
        top: 75%;
        left: 25%;
      }
    }

    label {
      margin-top: 10px;
    }

    #order_review_heading {
      @extend h3;
      font-size: 2rem;
      color: $logo_purple !important;
      text-transform: uppercase;
      margin: 20px 0;
    }

    .woocommerce-checkout-payment {
      .button {
        margin-right: 35px;
        padding: 11px 45px;
        background-color: $white;
        border: 1px solid $blue_green;
        border-radius: unset;
        font-weight: $fw_semi-bold;
        color: $blue_green;

        &:hover {
          background-color: $blue_green;
          color: $white;
        }
      }
    }

    .col-1 {
      margin: 0;
      width: 45%;

      h3 {
        @extend h3;
        font-size: 2rem;
        color: $logo_purple !important;
        text-transform: uppercase;
        margin-bottom: 22px;
      }
    }

    .col-2 {
      margin: 0;
      width: 45% !important;

      h3 span {
        @extend h3;
        font-size: 2rem;
        color: $logo_purple !important;
        text-transform: uppercase;
      }
    }
  }
}