.single-product-wrap {
  padding: 110px 0;

  h1 {
    @extend h3;
    color: $logo_purple;
    text-transform: uppercase;
    line-height: 1.5;
  }

  .woocommerce-product-gallery__wrapper div img {
    height: 410px !important;
    width: auto !important;
    margin: 0 auto !important;
  }

  .woocommerce-Price-amount {
    color: $blue_green;
    font-size: 2rem;
    font-weight: $fw_semi-bold;
  }

  button.button.alt {
    background-color: $blue_green;
    margin-left: 35px;
    font-weight: $fw_regular;
    padding: 12px 45px;
    border: 2px solid $blue_green;
    border-radius: unset;

    &:hover {
      background-color: $white;
      color: $blue_green;
    }
  }

  .posted_in {
    letter-spacing: 1.5px;

    a {
      color: $logo_purple;
      text-transform: uppercase;
      transition: .2s;

      &:hover {
        font-weight: $fw_semi-bold;
      }
    }
  }

  .woocommerce-tabs {

    h2 {
      @extend h5;
      color: $logo_purple;
    }

    ul.tabs {
      display: none !important;
    }

    li {
      list-style: none;
      line-height: 2;
      font-size: 0.875rem;
      padding-left: 15px;
      position: relative;
      font-weight: 300;
      letter-spacing: 1.5px;

      &:before {
        content: '';
        display: block;
        background-color: $logo_gray;
        @include size(5px);
        @include position(absolute, 14px null null 2px);
        border-radius: 50%;
      }

      ul {
        li {
          position: relative;

          &:before {
            content: none;
          }

          &:after {
            content: '-';
            display: block;
            color: $logo_gray;
            @include size(16px);
            @include position(absolute, 2px null null 2px);
          }
        }
      }
    }
  }

  section.related {
    display: none !important;
  }
}