.button, .menu-button {
  display: inline-block;
  background-color: transparent;
  color: $blue_green;
  font-size: 1rem;
  font-weight: $fw_semi-bold;
  letter-spacing: 1px;
  transition: .2s;
  cursor: pointer;
  border: 2px solid $blue_green;
  padding: 10px 45px;
  font-family: $primary;

  &:hover {
    background-color: $blue_green;
    color: $white;
  }

  @include media($tablet) {
    font-size: 1.25rem;
  }

  &--cta {
    color: $white;

    &:hover {
      background-color: $blue_green;
    }
  }

  &--more {
    font-size: 1.125rem;
    color: $logo_gray;
    transition: .2s;
    border-bottom: 1px solid $logo_gray;
    position: relative;
    width: max-content;
    letter-spacing: 1.5px;
    cursor: pointer;

    &:hover {
      color: $logo_purple;
      border-color: $logo_purple;

      &:after {
        background: url('../images/svg/arrow-right-purple.svg') center no-repeat;
        @include position(absolute, 7px -25px null null);
      }
    }

    &:after {
      content: '';
      background: url('../images/svg/arrow-right-solid.svg') center no-repeat;
      @include size(20px);
      @include position(absolute, 7px -35px null null);
      transition: .2s;

      @include media($tablet) {
        top: 7px;
      }
    }

    @include media($tablet) {
      font-size: 1.25rem;
    }
  }

  &--prev {
    font-size: 1.25rem;
    color: $logo_gray;
    transition: .2s;
    width: max-content;
    letter-spacing: 1.5px;
    border-bottom: 1px solid $logo_gray;
    position: relative;
    margin-left: 35px;

    &:hover {
      color: $logo_purple;
      border-color: $logo_purple;

      &:after {
        background: url('../images/svg/arrow-left-purple.svg') center no-repeat;
        @include position(absolute, 7px null null -25px);
      }
    }

    &:after {
      content: '';
      background: url('../images/svg/arrow-left-solid.svg') center no-repeat;
      @include size(20px);
      @include position(absolute, 7px null null -35px);
      transition: .2s;

      @include media($tablet) {
        top: 7px;
      }
    }

    @include media($tablet) {
      font-size: 1.25rem;
    }
  }
}

