form {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix;
	}
}

.gform_title,
.gfield_label {
	display: none;
}

.validation_error,
.validation_message {
	display: block;
	font-size: 1rem;
	color: $burnt_orange;
	font-weight: $fw_semi-bold;
}

.validation_error {
	margin-bottom: 20px;
}

.validation_message {
	position: relative;
	bottom: 45px;
}

.gform_confirmation_message {
	color: $blue_green;
	font-size: 1.25rem;
}


.gfield_error input {
	border-bottom: 2px solid $burnt_orange;
}

#{$all-text-inputs} {
	font-size: 1.25rem;
	line-height: 1.25rem;
	color: $logo_purple;
	padding-bottom: 15px;
	margin-bottom: 45px;
	border: none;
	border-bottom: 1px solid $gray;
	background-color: transparent;
	width: 100%;
	font-family: $primary;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: $logo_purple;
	}

	&.error-state {
		border-color: $error;
	}
}

select {
	appearance: none;
	font-size: 1.25rem;
	line-height: 1.25rem;
	color: $logo_purple;
	padding: 15px 15px;
	margin-bottom: 45px;
	border: none;
	background-color: transparent;
	border: 1px solid $gray;
	border-radius: 0%;
	width: 100%;

	&::placeholder {
		color: $logo_purple;
	}
}

.ginput_container_select {
	position: relative;

	&:after {
		content: '';
		background: url('../images/svg/caret-square-down-purple.svg') center no-repeat;
		@include size(16px);
		@include position(absolute, 18px 15px null null);
		pointer-events: none;
	}
}

input[type="submit"] {
	@extend .button;
}

.form-section {
	padding: 105px 0;

	.form-image-wrap {
		position: relative;

		@include media($tablet-landscape) {
			min-height: 600px;
		}
	}

	.form-wrap {
		min-height: 850px;
		background-color: $light_gray;
		padding: 60px;

		@include media($tablet-landscape) {
			min-height: auto;
		}

		@include media($mobile-large) {
			padding: 30px;
		}
	}
}


.form-header-content p {
	font-size: 1.8125rem;
	font-weight: $fw_semi-bold;
	color: $logo_purple;
	margin-top: 0;
	margin-bottom: 80px;

	@include media($tablet-landscape) {
		margin-bottom: 60px;
	}

	@include media($mobile-large) {
		font-size: 1.5rem;
		margin-bottom: 40px;
	}
}

.form-green {

	.validation_error,
	.validation_message {
		color: $light_gray;
	}

	.gform_confirmation_message {
		color: $light_gray;
	}

	#{$all-text-inputs} {
		border-bottom: 1px solid $white;
		color: $white;

		&::placeholder {
			color: $white;
		}
	}

	input[type="submit"] {
		border: 2px solid $white;
		color: $white;

		&:hover {
			color: $logo_purple;
			background-color: $white;
		}
	}

	select {
		color: $white;
		padding: 15px 15px;
		margin-bottom: 45px;
		border: none;
		background-color: transparent;
		border: 1px solid $white;
		border-radius: 0%;
		width: 100%;

		&::placeholder {
			color: $white;
		}
	}

	.ginput_container_select {
		position: relative;

		&:after {
			content: '';
			background: url('../images/svg/caret-square-down-white.svg') center no-repeat;
			@include size(16px);
			@include position(absolute, 18px 15px null null);
			pointer-events: none;
		}
	}

	.show-label label {
		color: $white;
	}

	input[type="radio"] {
		&:before {
			border: 1px solid $white;
		}

		&:after {
			background: $white;
		}
	}
}

.show-label label {
	display: block;
	color: $logo_purple;
}

input[type="radio"] {
	appearance: none;
	position: relative;
	cursor: pointer;
	margin-right: 15px;

	@include size(18px);

	@include media ($tablet) {
		margin-right: 8px;
		@include size(16px);
	}

	&:before {
		content: '';
		display: block;
		border: 1px solid $logo_purple;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		@include size(100%);
		@include position(absolute, 50% null null 50%);
	}

	&:after {
		content: '';
		display: block;
		transform: translate(-50%, -50%);
		transition: .2s;
		opacity: 0;
		background: $logo_purple;
		border-radius: 50%;
		@include size(100%);
		@include position(absolute, 50% null null 50%);
	}

	&:checked {
		&:after {
			opacity: 1;
		}
	}
}

.ginput_container_radio {
	margin: 20px 0;

	@include media ($tablet) {
		margin: 20px 0;
	}

	.gfield_radio {
		display: flex;
		flex-direction: column;

		label {
			letter-spacing: 2px;
		}

		li {
			display: flex;
			flex: 0;
			margin-right: 30px;
			align-items: center;

			@include media ($tablet) {
				margin-right: 10px;
			}
		}
	}
}

.ginput_container_textarea {

	textarea {
		border: 1px solid $gray;
		padding: 15px;
	}

}


section.account {
	.account-wrap {
		margin: 65px 0;
		border: 2px solid grey;
		padding: 25px;
	}

	input {
		margin-bottom: 10px;
	}

	input[type="submit"] {
		margin-bottom: 0;
	}

	.input-error-message {
		font-weight: 500;
		color: $error;
		line-height: 1.1;
		margin: 0 0 15px;
		font-size: .875rem;
	}

	.form-footer {
		display: flex;
	}

	.account-submit {
		align-self: flex-end;
	}

	.account-alt-button {
		margin-left: 30px;

		p {
			margin: 0;
			font-size: .75rem;
			text-align: center;
		}
	}
}

