.section-404 {
  height: 100vh;
  max-height: 700px;
  min-height: 500px;

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .content-404 {
    color: $white;
  }

  figure {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $logo_purple;
      opacity: .6;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}