.blog-hero {
  position: relative;
  height: 440px;

  .blog-title-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  @include media($mobile) {
    height: auto;
    padding: 20px;
  }
}

.blog-wrap {
  padding: 85px 0;

  @include media($tablet) {
    padding: 35px 0;
  }

  .flex-col {
    @include media($tablet-landscape) {
      display: flex;
      flex-direction: column;
    }

  }

  .article-meta {
    margin-bottom: 60px;

    @include media($tablet-landscape) {
      order: 2;
    }

    @include media($tablet) {
      margin-bottom: 35px;
    }

    time {
      @extend h5;
      font-size: 1.5rem;
      color: $logo_purple;
      text-transform: uppercase;
      font-weight: $fw_semi-bold;
      letter-spacing: 3px;
    }

    .cat-name {
      font-size: 1.25rem;
      color: $logo_purple;
      text-transform: uppercase;
      margin: 15px 0;
      letter-spacing: 1.5px;
    }

    .article-author {
      font-size: 1.25rem;
      font-weight: $fw_light;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 1.5px;

      @include media($tablet) {
        font-size: 1rem;
      }
    }
  }


  .article-wrap {
    margin: 0;

    @include media($tablet-landscape) {
      order: 2;
    }

    .button--more,
    .button--prev {
      text-transform: uppercase;
    }
  }

  .entry-content {
    line-height: 2;

    p {
      margin-top: 0;
      margin-bottom: 60px;

      @include media($tablet) {
        margin-bottom: 35px;
      }
    }
  }

  .next-previous-blog {
    justify-content: space-between;
  }
}

