.content-section {
	padding: 100px 0 50px 0;

	li {
		list-style: none;
		line-height: 2;
		font-size: 0.875rem;
		padding-left: 15px;
		position: relative;
		font-weight: 300;
		letter-spacing: 1.5px;

		&:before {
			content: '';
			display: block;
			background-color: $logo_gray;
			@include size(5px);
			@include position(absolute, 14px null null 2px);
			border-radius: 50%;
		}

		ul {
			li {
				position: relative;

				&:before {
					content: none;
				}

				&:after {
					content: '-';
					display: block;
					color: $logo_gray;
					@include size(16px);
					@include position(absolute, 2px null null 2px);
				}
			}
		}
	}


	p > img {

		@include media($tablet-landscape) {
			max-height: unset;
			height: auto;
		}
	}

	@include all-titles {
		color: $logo_purple;
	}

	h6 {
		color: $logo_gray;
		margin-top: 15px;
	}

	.content-cols {
		justify-content: center;
	}

	.column-content {
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;

		&.icon-image {
			p > img {
				height: 45px;
				width: auto;
			}
		}
	}

	&.reduce-padding-top {
		padding-top: 36px;
	}

	&.reduce-padding-top-mobile-only {
		@include media($tablet-landscape) {
			padding-top: 36px;
		}
	}

	&.reduce-padding-top-desktop-only {
		@include media($above-tablet) {
			padding-top: 36px;
		}
	}

	&.reduce-padding-bottom {
		padding-bottom: 36px;
	}

	&.reduce-padding-bottom-mobile-only {
		@include media($tablet-landscape) {
			padding-bottom: 36px;
		}
	}

	&.reduce-padding-bottom-desktop-only {
		@include media($above-tablet) {
			padding-bottom: 36px;
		}
	}

	&.eliminate-padding-top {
		padding-top: 0;
	}

	&.eliminate-padding-top-mobile-only {
		@include media($tablet-landscape) {
			padding-top: 0;
		}
	}

	&.eliminate-padding-top-desktop-only {
		@include media($above-tablet) {
			padding-top: 0;
		}
	}

	&.eliminate-padding-bottom {
		padding-bottom: 0;
	}

	&.eliminate-padding-bottom-mobile-only {
		@include media($tablet-landscape) {
			padding-bottom: 0;
		}
	}

	&.eliminate-padding-bottom-desktop-only {
		@include media($above-tablet) {
			padding-bottom: 0;
		}
	}
}