.contact-section {
  padding: 115px 0;
  letter-spacing: 1.5px;

  @include media($tablet-landscape) {
    padding: 35px;
  }

  .contact-info {
    @include media($tablet-landscape) {
      margin-bottom: 45px;
    }
  }

  h5 {
    font-size: 1.5rem;
    color: $logo_purple;
    margin-bottom: 12px;
  }

  .contact-address {
    line-height: 2;
    margin-bottom: 45px;
  }

  .contact-heading {
    color: $logo_purple;
    line-height: 2;
    font-weight: $fw_bold;
    letter-spacing: 1.5px;
    margin-right: 10px;

    @include media($mobile) {
      display: block;
    }
  }

  .contact-social {
    display: flex;
    margin-top: 45px;

    a {
      display: inline-block;
    }

    svg {
      @include size(25px);
      margin-right: 20px;
      color: $blue_green;
    }
  }

  .form {
    margin-top: 45px;

    input[type="submit"] {
      margin-top: 65px;
      margin-bottom: 0;
    }
  }

  .form-header-content {
    font-size: 1.8125rem;
    font-weight: $fw_semi-bold;
    color: $logo_purple;
    margin-top: 0;
    margin-bottom: 80px;

    @include media($tablet-landscape) {
      margin-bottom: 60px;
    }

    @include media($mobile-large) {
      font-size: 1.5rem;
      margin-bottom: 40px;
    }
  }
}