.custom-post-cta-section {
  padding: 125px 0;

  @include media($tablet-landscape) {
    padding: 75px 0;
  }

  @include media($mobile-large) {
    padding: 50px 0;
  }

  .header-content {
    margin-bottom: 80px;

    @include media($tablet) {
      margin-bottom: 50px;
    }

    @include all-titles {
      @extend h4;
      color: $logo_purple
    }

    p {
      line-height: 2;
    }
  }

  .post-card {
    margin: 0 auto;
    position: relative;
    flex: 0 0 calc(100% / 3);
    height: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: $white;
    transition: .2s;
    text-align: center;

    @include media($tablet-landscape) {
      flex: 0 0 calc(100% / 2);
      margin: unset;
    }

    @include media($mobile-large) {
      flex: 100%;
    }

    @include media($mobile) {
      height: 280px;
    }

    &:hover {
      figure {
        transition: .2s;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          background-color: $logo_purple;
          opacity: .8;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .button--more {
        opacity: 1;
        pointer-events: unset;
      }
    }

    figure {
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #373737;
        opacity: .8;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @include all-titles {
      @extend h4;
      font-size: 1.5625rem;
      margin-top: 26px;
      margin-bottom: 0;
    }

    .button--more {
      opacity: 0;
      pointer-events: none;
      font-size: 1rem;
      width: max-content;
      color: $white;
      transition: .2s;
      border-bottom: 1px solid $white;
      position: relative;

      &:hover {
        color: $gray;
        border-color: $gray;

        &:after {
          background: url('../images/svg/arrow-right-solid.svg') center no-repeat;
          @include position(absolute, 7px -20px null null);
        }
      }

      &:after {
        content: '';
        background: url('../images/svg/arrow-right-white.svg') center no-repeat;
        @include size(15px);
        @include position(absolute, 7px -25px null null);
        transition: .2s;
      }

      @include media($mobile-large) {
        opacity: 1;
        pointer-events: unset;
      }

    }


  }

  &.reduce-padding-top {
    padding-top: 50px;
  }

  &.reduce-padding-top-mobile-only {
    @include media($tablet-landscape) {
      padding-top: 50px;
    }
  }

  &.reduce-padding-top-desktop-only {
    @include media($above-tablet) {
      padding-top: 50px;
    }
  }

  &.reduce-padding-bottom {
    padding-top: 50px;
  }

  &.reduce-padding-bottom-mobile-only {
    @include media($tablet-landscape) {
      padding-top: 50px;
    }
  }

  &.reduce-padding-bottom-desktop-only {
    @include media($above-tablet) {
      padding-top: 50px;
    }
  }

  &.eliminate-padding-top {
    padding-top: 0;
  }

  &.eliminate-padding-top-mobile-only {
    @include media($tablet-landscape) {
      padding-top: 0;
    }
  }

  &.eliminate-padding-top-desktop-only {
    @include media($above-tablet) {
      padding-top: 0;
    }
  }

  &.eliminate-padding-bottom {
    padding-bottom: 0;
  }

  &.eliminate-padding-bottom-mobile-only {
    @include media($tablet-landscape) {
      padding-bottom: 0;
    }
  }

  &.eliminate-padding-bottom-desktop-only {
    @include media($above-tablet) {
      padding-bottom: 0;
    }
  }

}