.full-width-two-column {
  position: relative;
  @include media($tablet-landscape) {
    height: auto;
  }

  .col-width {
    flex: 0 0 calc(100% / 2);

    @include media($tablet-landscape) {
      flex: 100%;
    }
  }

  .column-content {
    min-height: 635px;
    padding: 35px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;

    @include media($tablet-landscape) {
      padding: 0 90px;
    }

    @include media($mobile-large) {
      padding: 0 60px;
    }

    @include media($mobile) {
      padding: 30px;
    }

    p {
      line-height: 2;
      margin-top: 0;
    }

    .latest-news-header {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .button--cta {
      border: 2px solid $white;
      transition: .2s;
      max-width: 220px;

      &:hover {
        background-color: $white;
        color: $logo_purple;
      }
    }
  }

  .image-wrap {
    position: relative;

    @include media($tablet-landscape) {
      min-height: 535px;
    }
  }

  .purple-bg {
    background-color: $logo_purple;
  }

  .blue-bg {
    background-color: $dark_blue;
  }

  .green-bg {
    background-color: $blue_green;
  }

  .orange-bg {
    background-color: $burnt_orange;
  }
}