.full_width_image_with_content {
  min-height: 760px;
  letter-spacing: 1px;
  color: $white;
  background-color: $light_gray;

  @include media($tablet-landscape) {
    min-height: auto;
    padding: 80px 0;
  }

  .column-content {
    &:not(:last-child) {
      padding-right: 100px;

      @include media($tablet-landscape) {
        padding-right: unset;
      }
    }
  }

  .content-image {
    z-index: 0;

    .content-image-wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 0 auto;
      width: 100%;
      padding: 0 60px;

      @include media($tablet-landscape) {
        padding: 0;
      }
    }

    img {
      width: 100%;
    }
  }

  h5 {
    text-transform: unset;
  }

  li {
    line-height: 2;
    margin-top: 70px;
    position: relative;
    font-weight: $fw_light;

    @include media($tablet-landscape) {
      margin-top: 35px;
      font-size: 1rem;
    }

    &:before {
      content: '';
      display: block;
      background-color: $burnt_orange;
      @include size(105px, 5px);
      @include position(absolute, -20px null null null);

      @include media($tablet-landscape) {
        top: -10px;
      }
    }
  }

}

.top-align-text {
  padding: 105px 0;
}

.no_overlay {
  padding: 105px 0 0 0;
  color: $logo_gray;

  @include media($tablet-landscape) {
    padding-top: 50px;
  }

  @include all-titles {
    color: $logo_purple;
  }

  figure {
    z-index: 1;
  }

  .column-content {
    margin-bottom: 65px;

    @include media($tablet-landscape) {
      margin-bottom: 35px;
    }
  }
}

.vertically-center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}