.hero-section {
  height: 100vh;
  align-items: center;
  color: $white;

  h1 {
    margin-bottom: 30px;
  }

  a {
    margin: 0 auto;
  }

  .background {
    background-position: center;
  }
}

.hero-tall {
  min-height: 595px;
  max-height: 695px;
}

.hero-short {
  min-height: 340px;
  max-height: 440px;
}