.icon-list-content {
  padding: 145px 0 110px 0;
  background-color: $dark_blue;
  color: $white;

  @include media($tablet) {
    padding: 70px 0 50px 0;
  }

  .icon-main-content {
    padding-right: 50px;

    p {
      line-height: 2;
    }
  }

  a {
    color: $white;

    &:visited {
      color: $white;
    }
  }

  .icon-card {
    flex: 0 0 calc((100% / 2) - 25px);
    margin-bottom: 40px;
    display: flex;
    flex-wrap: nowrap;

    &:nth-child(odd) {
      margin-right: 25px;

      @include media($mobile-large) {
        margin-right: 0;
      }
    }

    &:hover {
      .icon-info {
        h6 {
          font-weight: $fw_semi-bold;
        }
      }
    }

    @include media($tablet) {
      flex: initial;
      width: 100%
    }

    .icon-img {
      min-width: 70px;
      max-width: 70px;
    }

    .icon-info {
      margin-top: 15px;
      margin-left: 25px;
      color: $gray;
      font-weight: $fw_light;
      letter-spacing: 1.5px;
      line-height: 2;
      font-size: 1rem;

      h6 {
        font-size: 1.375rem;
        letter-spacing: 2px;
        font-weight: $fw_light;
        text-transform: uppercase;
        color: $white;
        transition: .2s;
      }

      @include media($tablet) {
        font-size: 1rem;

        h6 {
          font-size: 1.25rem;
        }
      }
    }

  }
}