.logo-slider-section {
  padding: 80px 0;

  .logo-slider-wrap {
    margin: 0 80px;

    .logo-slider-header {
      color: $logo_purple;
    }
  }

  .logo-slider {
    margin: 45px 0;
  }

  .logo-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    height: 150px;

    img {
      height: auto;
      max-height: 150px;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      @include size(40px);
      transition: .2s;
      cursor: pointer;
    }

  }

  .prev-arrow {
    left: -30px;

    svg {
      padding-right: 8px;

      @include media($tablet) {
        padding-right: 4px;
      }
    }

  }

  .next-arrow {
    right: -30px;

    svg {
      padding-left: 8px;

      @include media($tablet) {
        padding-left: 4px;
      }
    }
  }
}