.product-form-two-column-section {
  padding: 125px 0 0 0;
  background-color: $light_gray;

  @include media($tablet-landscape) {
    padding-top: 85px;
  }

  .product-list-cta {
    padding-right: 50px;
  }

  .product-header {
    color: $logo_purple;
    margin-bottom: 35px;

    h4 {
      font-size: 2.25rem;
    }

  }

  .product-cta-card {
    padding-bottom: 30px;
    margin-bottom: 35px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }

    h5 {
      font-size: 1.5rem;
      color: $logo_purple;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .form-wrap {
    background-color: $blue_green;
    padding: 40px 70px;

    .form-header-content p {
      @extend .form-header-content;
      color: $white;
      font-size: 1.625rem;
    }
  }
}