.product-page-hero {
	height: 100vh;
	min-height: 610px;
	max-height: 710px;
	display: flex;
	flex-direction: column;
	justify-content: center;


	@include media($tablet-landscape) {
		height: 100vh;
		margin: 0;
		overflow: unset;
		justify-content: flex-start;
		align-items: center;
		margin-top: 80px;
	}

	@include media($tablet) {
		height: auto;
		min-height: unset;
		margin: 60px 0;
	}

	.product-hero-content {
		@include all-titles {
			@extend h1;
			font-weight: $fw_light;
			color: $logo_purple;

			@include media($tablet) {
				font-size: 3rem;
			}
		}

		p {
			padding-right: 125px;

			@include media($product-hero-break-large) {
				padding-right: 100px;
			}

			@include media($tablet) {
				padding-right: unset;
			}
		}
	}

	.showcase {
		position: absolute;
		height: 100%;
		width: 100%;
		pointer-events: none;

		@include media($tablet-landscape) {
			position: initial;
		}

		@include media($tablet) {
			display: none;
		}

		.showcase-wrap {
			position: relative;
			height: 800px;
			pointer-events: none;

			@include media($tablet-landscape) {
				height: 100%;
			}
		}

		.product-hero-image-wrap {
			position: absolute;
			top: 12%;
			z-index: 1;
			width: 88vw;
			height: 55.94vw;
			max-width: 1300px;
			max-height: 834px;
			margin: 0;
			background-size: contain;

			@include media($tablet-landscape) {
				position: initial;
				width: 100%;
				height: 100%;
				margin: 0 auto;
			}

			.product-image {
				width: 70%;
				height: 68%;
				position: absolute;
				top: 5.3%;
				left: 65%;
				background-size: cover;

				@include media($tablet-landscape) {
					width: 46%;
					left: 77%;
				}

				@include media($tablet) {
					width: 62%;
					left: 69%;
					top: 4.9%;
				}
			}
		}
	}
}