.feed-wrap {
	padding: 85px 0;

	@include media($tablet-landscape) {
		display: flex;
		flex-direction: column;
	}

	@include media($tablet) {
		padding: 35px 0;
	}

	.breadcrumb-nav a {
		color: $logo_purple;
	}
}

.resources-feed-section {
	margin-left: 0;

	@include media($tablet-landscape) {
		order: 2;
	}

	.post-wrap {

		&:not(:last-child) {
			margin-bottom: 65px;
		}

		.post-header {
			@extend h5;
			font-size: 1.5rem;
			color: $logo_purple;
			text-transform: uppercase;
			font-weight: $fw_semi-bold;
			letter-spacing: 3px;
		}

		time,
		.cat-name {
			font-size: 1.25rem;
			color: $logo_purple;
			text-transform: uppercase;
			margin: 15px 0;
			letter-spacing: 1.5px;
		}

		time {
			color: $logo_gray;
		}

		.article-author {
			font-size: 1.25rem;
			font-weight: $fw_light;
			text-transform: uppercase;
			font-style: italic;
			letter-spacing: 1.5px;

			@include media($tablet) {
				font-size: 1rem;
			}
		}

		.post-excerpt {
			margin-bottom: 40px;
			line-height: 2;
		}

		.button--cta {
			color: $blue_green;
			transition: .2s;

			&:hover {
				background-color: $blue_green;
				color: $white;
			}
		}

	}
}

.blog-feed-nav {
	.nav-arrow {
		height: 20px;
		width: 20px;
		margin: 20px 20px 0 20px;
	}
}