.staff-section {

	padding: 120px 0 25px 0;

	@include media($tablet-landscape) {
		padding: 35px 0;
	}

	.staff-member-wrap {
		display: flex;
		flex-wrap: nowrap;
		position: relative;

		@include media($tablet-landscape) {
			flex-wrap: wrap;
			margin: 35px 0;
		}


		// PSEUDO CLASS STYLINGS

		&:nth-child(5n+2) {
			.staff-bio {
				background-color: $dark_blue;
			}
		}

		&:nth-child(5n+3) {
			.staff-bio {
				background-color: $burnt-orange;
			}
		}

		&:nth-child(5n+4) {
			.staff-bio {
				background-color: $logo_gray;
			}
		}

		&:nth-child(5n+5) {
			.staff-bio {
				background-color: $blue_green;
			}
		}

		&:nth-child(5n+6) {
			.staff-bio {
				background-color: $logo_purple;
			}
		}

		&:nth-child(even) {
			.staff-bio {
				padding: 80px 140px 80px 80px;

				@include media($tablet-landscape) {
					padding: 40px;
				}
			}

			.staff-image {
				right: 0;
			}
		}

		&:nth-child(odd) {
			justify-content: flex-end;

			.staff-bio {
				padding: 80px 80px 80px 140px;

				@include media($tablet-landscape) {
					padding: 40px;
				}
			}

			.staff-image {
				left: 0;
			}
		}

		// SECTION STYLINGS

		.staff-bio {
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: $white;
			width: 900px;
			min-height: 635px;
			margin: 95px 0;
			transition: .2s;

			@include media($staff-break-one) {
				width: 820px;
			}

			@include media($staff-break-two) {
				width: 710px;
			}

			@include media($staff-break-three) {
				width: 600px;
			}

			@include media($tablet-landscape) {
				width: 100%;
				order: 2;
				margin: 0;
				min-height: auto;
			}

			.bio-full {
				display: none;
			}

			p {
				margin-top: 0;
			}

			a {
				color: $light_gray;
				font-weight: $fw_semi-bold;
				transition: .2s;

				&:hover {
					color: $gray;
				}
			}


			.show-more,
			.show-less {
				color: $white;
				border-bottom: 1px solid $white;

				&:after {
					background: url('../images/svg/arrow-right-white.svg') center no-repeat;
				}
			}

			.show-less {
				display: none;
			}
		}

		.staff-image {
			position: absolute;
			height: 670px;
			width: 445px;
			z-index: 3;

			@include media($tablet-landscape) {
				position: relative;
				margin: 0 auto;
				height: 500px;
				width: 100%;

				figure {
					background-position: top;
				}
			}
		}
	}
}