.testimonials-slider-section {
  padding: 240px 0;
  height: 100vh;
  max-height: 755px;
  min-height: 650px;
  color: $white;

  @include media($tablet-landscape) {
    padding: 140px 0;
  }

  @include media($tablet) {
    padding: 80px 0;
    max-height: initial;
  }

  .testimonial-content {
    margin-bottom: 80px;

    @include media($tablet-landscape) {
      margin-bottom: 40px;
    }

    @include media($tablet) {
      margin-bottom: 20px;
    }

    @include all-titles {
      @extend h4;
      font-weight: $fw-semi-bold;
    }

    p {
      line-height: 2;
    }
  }

  .testimonial-logo {
    display: flex;
    justify-content: center;
  }


  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      @include size(40px);
      transition: .2s;
      cursor: pointer;
    }

    @include media($tablet-landscape) {
      top: initial;
      transform: none;
      bottom: -50px
    }

    @include media($tablet) {
      top: initial;
      transform: none;
      bottom: -90px
    }

  }

  .prev-arrow {
    left: -30px;

    svg {
      padding-right: 8px;

      @include media($tablet) {
        padding-right: 4px;
      }
    }

    @include media($tablet-landscape) {
      left: 110px;
    }
  }

  .next-arrow {
    right: -30px;

    svg {
      padding-left: 8px;

      @include media($tablet) {
        padding-left: 4px;
      }
    }

    @include media($tablet-landscape) {
      right: 110px;
    }
  }

}