.three_column_cta_section {

  .column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 165px;
    color: $white;
    padding: 0 20px;
  }

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .column_one {
    background-color: $logo_purple;
    transition: .2s;

    &:hover {
      background-color: $white;
      color: $logo_purple;
      border: 1px solid $logo_purple;
    }
  }

  .column_two {
    background-color: $blue_green;
    transition: .2s;

    &:hover {
      background-color: $white;
      color: $blue_green;
      border: 1px solid $blue_green;
    }
  }

  .column_three {
    background-color: $burnt_orange;
    transition: .2s;

    &:hover {
      background-color: $white;
      color: $burnt_orange;
      border: 1px solid $burnt_orange;
    }
  }
}