.video_player_slider {
  padding: 80px 0;

  .video-player {
    position: relative;
    width: 100%;
    margin-bottom: 65px;

    .slick-track {
      height: 575px;

      @include media($tablet) {
        height: 425px;
      }

      @include media($mobile-large) {
        height: 325px;
      }

      @include media($mobile) {
        height: 275px;
      }
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 6;
      color: $white;
      opacity: .8;
      cursor: pointer;
      transition: .2s;
      @include size(170px);

      @include media($mobile-large) {
        @include size(130px);
      }

      &:hover {
        color: $logo_gray;
      }

      &.hidden {
        display: none;
      }
    }

    &--single {
      position: relative;
      width: 100%;
      margin-bottom: 65px;

      .video-slide {
        height: 575px;
      }
    }
  }

  .video-slider {
    margin: 0 80px;
  }

  .video-slide-thumb {
    position: relative;
    height: 155px;
    width: 228px;
    margin: 0 12.5px;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      @include size(40px);
      transition: .2s;
      cursor: pointer;
    }

  }

  .prev-arrow {
    left: -75px;

    svg {
      padding-right: 8px;

      @include media($tablet) {
        padding-right: 4px;
      }
    }

  }

  .next-arrow {
    right: -75px;

    svg {
      padding-left: 8px;

      @include media($tablet) {
        padding-left: 4px;
      }
    }
  }
}