.footer-section {
	padding: 75px 0;
	font-size: 0.875rem;
	color: $logo_purple;
	background-color: $light_gray;
	line-height: 3;
	letter-spacing: .5px;

	.footer-column-flex {
		padding: 0;
	}

	@include media($tablet) {
		padding: 35px 0;
	}

	a {
		color: $logo_purple;

		&:visited {
			color: $logo_purple;
		}
	}

	.footer-column-flex {
		display: flex;
		flex-direction: column;

		@include media($tablet-landscape) {
			align-content: center;
			text-align: center;
		}
	}

	.contact-col {
		img {
			width: 180px;
			margin-bottom: 20px;

			@include media($tablet-landscape) {
				margin: 0 auto;
			}
		}
	}

	.country-title {
		font-weight: $fw_bold;
	}

	h6 {
		color: $logo_purple;
	}

	.menu-item-has-children {
		a {
			@extend h6;
			color: $logo_purple
		}

		.sub-menu {
			li a {
				font-size: 0.875rem;
				font-weight: $fw_regular;
			}
		}
	}

	.footer-social-wrap {
		margin-top: 20px;
	}

	.footer-social {
		display: flex;

		@include media($tablet-landscape) {
			justify-content: center;
		}

		a {
			display: inline-block;
		}

		svg {
			@include size(25px);
			margin-right: 20px;

			@include media($tablet-landscape) {
				margin: 0 20px;
			}
		}
	}

	.footer-logo-wrap {
		margin: 0 30px;
		justify-content: flex-end;
		padding-bottom: 10px;
		border-bottom: 1px solid $logo_purple;

		@include media($mobile-large) {
			align-content: center;
			justify-content: center;
		}

		img {
			height: 65px;
		}
	}

	.footer-bottom-wrap {
		text-transform: uppercase;
		color: $logo_gray;
		padding-top: 30px;
		line-height: 1.5;

		.copyright-info {
			@include media($tablet-landscape) {
				text-align: center;
			}
		}

		.footer-legal {
			justify-content: flex-end;

			@include media($tablet-landscape) {
				justify-content: center;
			}

			ul {
				display: flex;

				@include media($mobile) {
					flex-direction: column;
					align-items: center;
				}
			}

			li {
				&:not(:last-child) {
					margin-right: 15px;
					position: relative;

					@include media($mobile) {
						margin-right: 0;
					}

					&:after {
						content: '';
						display: block;
						background-color: $logo_gray;
						@include size(1px, 14px);
						@include position(absolute, 3px -8px null null);

						@include media($tablet) {
							display: none;
						}
					}
				}
			}

			a {
				color: $logo_gray;
			}
		}
	}
}