.banner {
	position: relative;
	height: 105px;
	width: 100%;
	font-size: 1rem;
	font-weight: $fw_semi-bold;
	z-index: 2;

	.content-container {
		max-width: 1385px;
	}

	.header-right {
		.button--cta {
			margin-right: 15px;
		}

		.cart-icon {
			flex-direction: column;
			justify-content: center;
			align-items: center;

			svg {
				display: block;
				@include size(20px);
			}

			a {
				position: relative;

				.cart-contents-count {
					position: absolute;
					font-size: 0.8125rem;
					top: -10px;
					right: -10px;
					color: #fff;
					background-color: $blue_green;
					border-radius: 10px;
					padding: 2px 6px;
					line-height: 1;
				}
			}
		}
	}

	.nav-primary {

		& > .menu-item-has-children {
			position: relative;
			transition: .2s;
		}

		.menu-item {
			display: inline-block;
			position: relative;
			transition: .2s;
			margin-left: 0;
			cursor: pointer;

			&:hover > ul {
				display: flex;
			}

			a {
				height: 100%;
				padding-bottom: 45px;
				padding-right: 35px;
			}
		}


		.sub-menu {
			width: 380px;
			display: none;
			margin-top: 40px;
			flex-direction: column;
			background-color: $white;
			transition: .2s;
			z-index: 3;
			@include size(max-content, auto);
			@include position(absolute, 100% null null 0);

			.menu-item {

				&:first-child {
					position: relative;

					&:before {
						content: '';
						background: url('../images/svg/caret-up-solid.svg') center no-repeat;
						@include size(30px);
						@include position(absolute, -19px null null 70px);
						transition: .2s;
					}
				}

				&:not(:last-child) {
					border-bottom: 1px solid $gray;
				}

				a {
					display: inline-block;

					&::after {
						display: none;
					}
				}

				&:hover {
					background-color: $gray;

					&:first-child {

						&:before {
							background: url('../images/svg/caret-up-gray.svg') center no-repeat;
						}
					}
				}

			}

			.menu-item-has-children {
				position: relative;
				transition: .2s;

				&:hover > ul {
					display: flex;
				}

				&:after {
					content: '';
					background: url('../images/svg/caret-square-down-purple.svg') center no-repeat;
					@include size(20px);
					@include position(absolute, 35% 15px null null);
					transform: translateX(-35%);
					z-index: 2;
					transition: .2s;
					pointer-events: none;
				}

				&:hover:after {
					transform: translateX(-40%) rotate(-90deg);
				}

				&.sub-menu-left {
					.sub-menu {
						left: -100%;
						right: 0;
						text-align: right;
						transition: .2s;

						.menu-item {
							padding-right: 55px;
						}
					}

					&:hover:after {
						transform: translateX(-40%) rotate(90deg);
					}
				}


				.sub-menu {
					display: none;
					flex-direction: column;
					background-color: $logo_purple;
					transition: .2s;
					z-index: 1;
					margin: 0;
					@include size(max-content, auto);
					@include position(absolute, 0 null null 100%);

					.menu-item {

						&:not(:last-child) {
							border-bottom: 1px solid $light_purple;
						}

						&:first-child {
							position: relative;

							&:before {
								display: none;
							}
						}

						a {
							color: $white;
						}

						&:hover {
							&:hover {
								background-color: $light_purple;
							}
						}
					}
				}
			}
		}
	}

	// TRANSPARENT HEADER STYLINGS //

	&.header-transparent {
		pointer-events: all;
		height: 85px;
		background-color: transparent;
		position: absolute;
		top: 0;
		left: 0;

		.nav-wrap {
			color: $white;

			.nav-primary {
				.menu-item a {
					color: $white;
					position: relative;

					&:after {
						content: '';
						background: url('../images/svg/caret-square-down-white.svg') center no-repeat;
						@include size(14px);
						@include position(absolute, 4px 0px null null);
						pointer-events: none;
					}
				}

				.button_cta {
					color: $white;
				}

				svg {
					color: $white;
				}

				.sub-menu {
					width: 380px;

					.menu-item {
						position: relative;
						margin: 0;
					}

					a {
						width: 100%;
						padding: 20px 55px 20px 55px;
						position: relative;
						display: inline-block;
						color: $logo_purple;
						font-weight: $fw_bold;
					}
				}
			}
		}
	}

	// SOLID HEADER STYLINGS //

	&.header-solid {
		height: 105px;
		background-color: $light_gray;
		box-shadow: 0px 4px 8px -1px rgba(107, 107, 107, 1);

		.nav-wrap {
			color: $logo_purple;

			.nav-primary {
				.menu-item a {
					color: $logo_purple;
					position: relative;

					&:after {
						content: '';
						background: url('../images/svg/caret-square-down-purple.svg') center no-repeat;
						@include size(14px);
						@include position(absolute, 4px 0px null null);
						pointer-events: none;
					}
				}

				.sub-menu {
					width: 380px;

					.menu-item {
						position: relative;
						margin: 0;

						&:not(:last-child) {
							border-bottom: 1px solid $gray;
						}
					}

					a {
						width: 100%;
						margin-left: 55px;
						padding: 20px 55px 20px 0;
						position: relative;
						display: inline-block;
						color: $logo_purple;
						font-weight: $fw_bold;
					}
				}

			}

			.button--cta {
				color: $blue_green;
				transition: .2s;

				&:hover {
					color: $white;
				}
			}

			svg {
				color: $logo_purple;
			}

			.menu-toggle {
				&.open {
					.line {

						&:first-child {
							background-color: $logo_purple;
						}

						&:last-child {
							background-color: $logo_purple;
						}
					}
				}

				.line {
					background-color: $logo_purple;
				}
			}


		}
	}
}

.brand {
	a {
		display: inline-block;
	}

	img {
		height: 50px;
	}
}

.nav-wrap {
	height: 100%;
	justify-content: space-between;
	position: relative;
	align-items: center;

	.nav-primary {
		justify-content: space-between;
		align-items: center;

		@include media ($nav-break) {
			display: none;
		}

		.sub-menu {
			display: none;
		}

		ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
		}

		.menu-item {
			transition: .2s;
			margin-left: 0;
			margin-right: 70px;

			@include media($nav-break-one) {
				margin-right: 35px;
			}

			@include media($nav-break-two) {
				margin-right: 15px;
			}

			a {

			}
		}
	}

	.menu-toggle {
		position: absolute;
		right: 0;
		cursor: pointer;
		@include size(35px, 22px);

		&.open {
			.line {

				&:first-child {
					top: 50%;
					transform: rotate(45deg);
					background-color: $white;
				}

				&.center {
					opacity: 0;
				}

				&:last-child {
					top: 50%;
					transform: rotate(-45deg);
					background-color: $white;
				}
			}
		}

		.line {
			background-color: $white;
			transition: .2s;
			@include size(100%, 3px);
			@include position(absolute, null null null 0);

			&:first-child {
				top: 0;
			}

			&.center {
				top: 50%;
				transform: translateY(-50%);
			}

			&:last-child {
				bottom: 0;
			}
		}
	}
}

.mobile-menu {
	height: 100vh;
	overflow: auto;
	width: 0;
	transition: all .2s;
	padding: 20px 0;
	pointer-events: none;

	@include media($above-nav-break) {
		display: none;
	}

	.mobile-nav {
		text-align: center;

		.content-container {
			@include media($tablet) {
				width: 100%;
			}
		}
	}

	.header-right {
		display: none;
	}

	.menu-item {
		position: relative;

		a {
			width: 100%;
			display: inline-block;
			padding: 15px 0;
			opacity: 0;
			text-decoration: none;
			font-size: 1.25rem;
			letter-spacing: 1.5px;
		}

	}

	.menu-item-has-children {
		position: relative;

		&:after {
			content: '';
			background: url('../images/svg/caret-square-down-purple.svg') center no-repeat;
			@include size(20px);
			@include position(absolute, 20px 20px null null);
			z-index: 2;
			transition: .2s;
		}
	}

	&.open {
		width: 100%;
		background-color: $light_gray;
		pointer-events: initial;

		.menu-item {
			a {
				color: $logo_purple;
				opacity: 1;
			}
		}

		.header-right {
			display: flex;
			justify-content: center;
			margin: 10px 0;

			@include media($nav-break) {
				margin: 25px;
			}

			a {
				color: $logo_purple;
				transition: .2s;

				&:hover {
					color: $white;
				}
			}

			svg {
				color: $logo_purple;
			}
		}
	}

	.sub-menu {
		display: none;

		.menu-item {
			background-color: $white;

			a {
				color: $light_purple;
			}

			&:not(:last-child) {
				border-bottom: 1px solid $gray;
			}
		}

		.menu-item-has-children {
			position: relative;

			.sub-menu {

				.menu-item {
					background-color: $logo_purple;

					&:not(:last-child) {
						border-bottom: 1px solid $light_purple;
					}

					a {
						color: $white;
					}
				}
			}

			&:after {
				content: '';
				background: url('../images/svg/caret-square-down-purple.svg') center no-repeat;
				@include size(20px);
				@include position(absolute, 20px 20px null null);
				z-index: 2;
				transition: .2s;
				pointer-events: all;
			}
		}
	}
}
